version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017" # optional (safe to remove)

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      - mongo
    env_file:
      - backend/.env
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        NEXT_PUBLIC_API_BASE_URL: http://13.200.40.19:5000/api/v1
        NEXT_PUBLIC_WS_BASE_URL: http://13.200.40.19:5000
    env_file:
      - frontend/.env
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  mongo_data:
